html {
    font-size: 100%;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-image: url('../img/sand.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.list-title {
    position: relative;
    text-align: left;
    top: 20px;
    left: 10%;
    filter: invert(1);
}

.tasks {
    position: absolute;
    top: 115px;
    width: 100%;
    bottom: 90px;
    overflow: auto;
    margin: 0 auto;
}

.task {
    position: relative;
    width: 80%;
    min-height: 60px;
    border-radius: 10px;
    margin: auto;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 35px;
    padding-right: 80px;
    background-color: whitesmoke;
}

.task p {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    padding: 10px;
    margin: 0;
    word-break: break-word;
}

.todo-header {
    position: fixed;
    height: 100px;
    top: 0px;
    width: 100%;
}

.todo-footer {
    position: fixed;
    height: 90px;
    bottom: 0px;
    width: 100%;
    display: flex;
}

/* pentru butonul de check */
.unchecked, .fa-check-circle {
    display: inline-block;
    left: 5px;
    color: rgb(66, 66, 66);
    position: absolute;
    text-align: center;
    vertical-align: middle;
    font-size: 25px;
    padding: 5px;
}

.delete-task {
    display: inline-block;
    position: absolute;
    right: 15px;
    color: red;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
}

.edit-task {
    display: inline-block;
    position: absolute;
    right: 50px;
    color: green;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    border: none;
    background-color: whitesmoke;
}

.add-todo {
    position: relative;
    border-radius: 5px;
    background-color: white;
    margin: auto;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 60px;
    display: flex;
}

.todoinput {
    position: relative;
    left: 20px;
    border: none;
    padding: 5px;
    background: transparent;
    color: white;
    width: calc(100% - 57px);
}

button.createtodo {
    position: relative;
    left: 5px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 25px;
    outline: none;
}

::placeholder {
    /* Most modern browsers support this now. */
    color: gray;
}

.task:hover {
    color: gray;
    opacity: 85%;
}
