html {
    font-size: 100%;
}

::-webkit-scrollbar {
    display: none;
}

.sidenav {
  height: 100%; 
  width: 0; /* initial e ascunsa */
  position: fixed; /* fixata */
  z-index: 9; /* Stay on top */
  top: 0; 
  left: 0;
  background-color: #111; /* negro, dar putem pune si transparent*/
  overflow-x: hidden; /* ascunde textul cand div are width 0 */
  padding-top: 69px; /* contentul sa inceapa de mai jos*/ 
  transition: 0.5s; /* durata tranzitie */
}

.sidenav-element{
    display: inline-flex;
}

/* paragraf si link uri*/
.sidenav a, p, i {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover, p:hover, i:hover{
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#side-nav-btn{
    position: absolute;
    padding-top: 40px;
    padding-left: 25px;
    font-size: 2em;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

body {
    background-image: url('../img/sand.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.list-title {
    position: relative;
    text-align: left;
    top: 20px;
    left: 10%;
    filter: invert(1);
}

.tasks {
    position: absolute;
    top: 115px;
    width: 100%;
    bottom: 90px;
    overflow: auto;
    margin: 0 auto;
}

.task {
    position: relative;
    width: 80%;
    min-height: 60px;
    min-width: 200px;
    border-radius: 10px;
    margin: auto;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 45px;
    padding-right: 130px;
    background-color: whitesmoke;
}

.task p {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    padding: 10px;
    margin: 0;
    word-break: break-word;
}

.todo-header {
    position: fixed;
    height: 100px;
    top: 0px;
    width: 100%;
}

.todo-footer {
    position: fixed;
    height: 90px;
    bottom: 0px;
    width: 100%;
    display: flex;
}

/* pentru butonul de check */

.unchecked, .fa-check-circle, .fa-dot-circle {
    display: inline-block;
    left: 5px;
    color: rgb(66, 66, 66);
    position: absolute;
    text-align: center;
    vertical-align: middle;
    font-size: 25px;
    padding: 5px;
}

.fa-alarm-clock, .fa-alarm-exclamation {
    display: inline-block;
    color: rgb(66, 66, 66);
    position: absolute;
    text-align: center;
    vertical-align: middle;
    font-size: 25px;
    padding: 5px;
}

.alarma{
    position: absolute;
    right: 125px;
    top: 15px;
}

.inputMinute{
    position: absolute;
    right: 128px;
    top: 15px;
}

.countdown{
    position: absolute;
    top: -5px;
    right: 150px;
    font-size: 2em;
    font-family: "Font Awesome 5 Pro";
    color: #008B8B;
}   

.delete-task {
    display: inline-block;
    position: absolute;
    right: 15px;
    color: red;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
}

.edit-task {
    display: inline-block;
    position: absolute;
    right: 50px;
    color: green;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    border: none;
    background-color: whitesmoke;
}

.save-edit {
    display: inline-block;
    position: absolute;
    right: 50px;
    color: blue;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    border: none;
    background-color: whitesmoke;
    width: 22px;
}

.fa-star {
    display: inline-block;
    position: absolute;
    right: 90px;
    color: gray;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    border: none;
    background-color: whitesmoke;
}

.fas {
    color: #008B8B;
}

.add-todo {
    position: relative;
    border-radius: 5px;
    background-color: white;
    margin: auto;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 60px;
    display: flex;
}

.todoinput {
    position: relative;
    left: 20px;
    border: none;
    padding: 5px;
    background: transparent;
    color: white;
    width: calc(100% - 57px);
}

button.createtodo {
    position: relative;
    left: 5px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 25px;
    outline: none;
}

::placeholder {
    color: gray;
}

.task:hover {
    color: gray;
    opacity: 85%;
}

[contenteditable="true"] {
    outline: 1px solid;
}

/*textarea {
    background-color: transparent;
    
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
    width: 100%;
    border: none;
    word-break: break-word;
    outline: none;
    box-shadow: none;
    overflow: auto;
    resize: none;
}
*/

button.save-edit, button.edit-task {
    padding: 0;
    margin: 0;
}

.headerbtn {
    margin-top: 20px;
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    display: inline-block;
}

.headerbtn:active{
    opacity: 80%;
}


button.sortByDate, button.sortByFav {
    position: relative;
    left: 10%;
}

button.deleteAll{
    position: absolute;
    padding: 12px 14px;
    right:10%;
}
